/* Base style for the menu link container */
.nav-link-container {
  padding: 4px 8px;
  border-radius: 8px; 
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
  color: #555; 
  font-weight: 500;
  border: 1px solid transparent; 
  white-space: nowrap;
}


.nav-link-container:hover {
  background: #e4fff473;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 
              0 2px 4px -1px rgba(0, 0, 0, 0.2);
  color: #000;
  transform: translateY(-1px); 
}

.nav-link-container.isActive {
  background: #e4fff473;
  color: #015d0f; 
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  border: 1px solid rgba(0, 0, 0, 0.2); 
    box-shadow: 0 1px 4px -2px rgba(22, 163, 74, 0.237), 0 2px 6px -1px rgba(34, 103, 59, 0.329);
  font-weight: 700;
}