@import "tailwindcss";
@tailwind utilities;


:root {
  color: black;
  direction: rtl;
}

@font-face {
  font-family: "digikala";
  src: url("/fonts/digikala.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "yekan";
  src: url("/fonts/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nastaliq";
  src: url("/fonts/IranNastaliq.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bnazanin";
  src: url("/fonts/b-nazanin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-foreground: var(--foreground);
  --color-background-gray: #f5f5f7;
  --color-navbar-primary: #135029;
  --color-navbar-secondary:  #008071;
  --color-navbar-text: #495057;
  --color-navbar-hover: #135029;
  --color-navbar-active: #00A592;
  --color-navbar-underline:#B6EBE5;
  --color-cms-primary:  #135029;
  --color-cms-secondary: #008071;
  --color-service-bg: #002147;

/* Fonts */
    --font-digikala: "digikala", Arial, Helvetica, sans-serif;
  --font-nastaliq: "nastaliq", Arial, Helvetica, sans-serif;
  --font-bnazanin: "bnazanin", Arial, Helvetica, sans-serif;
  --font-yekan: "yekan", Arial, Helvetica, sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --background-2: #f5f5f7;
  }
}

body {
  background: var(--background);
  color:black;
  font-family:"yekan", "bnazanin", Arial, Helvetica, sans-serif,"nastaliq", "digikala", sans-serif, 'yekan';
  direction: rtl;
}

.ltr-input {
  direction: rtl !important;
  unicode-bidi: plaintext !important;
  font-family: 'Arial', 'Helvetica', sans-serif !important;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum";
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;            /* Chrome/Safari */
}